.Contact-details {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.years {
  color: rgb(147, 152, 152);
  display: flex;
}

img {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin: 0;
}

.inline-div {
  font-weight: bolder;
  display: inline-flex;
  padding: 4%;
}

button {
  background-color: rgb(185, 145, 59);
  width: 50%;
  padding: 2%;
  margin-bottom: 2%;
  cursor: pointer;
}
