body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(56, 113, 228);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
